{
    "widgetid": "${uuid}",
    "name": "${name}",
    "component": "views/components/widgets/${name}",
    "datatype": "${datatype}",
    "defaultconfig": {
        "label": "",
        "placeholder": "",
        "defaultValue": ""
    },
    "helptext": "TODO: help text for ${name}"
}
