{
    "pluginid": "${uuid}",
    "name": "${name}",
    "icon": "${icon}",
    "component": "views/components/plugins/${name}",
    "componentname": "${name}",
    "config": {
        "show_in_nav_bar": true
    },
    "slug": "${slug}",
    "sortorder": 0,
    "helptext": "TODO: help text for ${name}"
}
