{
    "templateid": "${uuid}",
    "name": "${name}",
    "description": "TODO: description for ${name} report",
    "component": "reports/${name}",
    "componentname": "${name}",
    "defaultconfig": {},
    "preload_resource_data": true
}
