{
    "permitted_resource_model_names": [],
    "graphs": {
        "branches": {
            "resource_model_ids": [],
            "branch_ids": []
        },
        "resource_models": {
            "resource_model_ids": [],
            "branch_ids": []
        }
    },
    "reference_data": {
        "concepts": [],
        "collections": []
    },
    "business_data": []
}
