{
    "componentid": "${uuid}",
    "name": "${name}",
    "description": "TODO: description for ${name}",
    "component": "views/components/cards/${name}",
    "componentname": "${name}",
    "defaultconfig": {}
}
