[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "arches-${name}"
version = "0.0.1"
description = "Arches application: ${name}"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "arches~=8.1",
]

[tool.hatch.build.targets.wheel]
packages = ["arches_${name}"]
